<% layout ('layouts/boilerplate')%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
    <img src="<%= image.ImgURL %>" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title"><%= image.ImgName %></h5>
        <p class="card-text"><%= image.ImgDetails %></p>

    </div>
    <div class="card-body">
        <a class="card-link btn btn-info" href="/images/<%=image._id%>/edit">Edit</a>
        <form class="d-inline" action="/images/<%=image._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
  </div>
 </div>

